<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <h1>Clients</h1>
    <ul>
        <% userData.forEach(user => { %>
            <li><%= user.first_name %></li>
            <li><%= user.last_name %></li>
            <li><%= user.dog_name %></li>
            <li><%= user.dog_age %></li>
            <li><%= user.breed %></li>
            <li><%= user.behavior %></li>
        <% }); %>
    </ul>
    <h1>Bookings</h1>
    <ul>
        <% bookingData.forEach(booking => { %>
            <li><%= booking.service %></li>
            <li><%= booking.start_date %></li>
            <li><%= booking.start_time %></li>
            <li><%= booking.end_date %></li>
            <li><%= booking.end_time %></li>
            <li><%= booking.street %></li>
            <li><%= booking.city %></li>
            <li><%= booking.state %></li>
            <li><%= booking.zipcode %></li>
            <li><%= booking.notes %></li>
        <% }); %>
    </ul>
</body>
</html>
